
.dataHolder{
	width: 500px;
}

ul{

}

.item {
	display: flex;
	width: 100%;
	background-color: lightblue;
	padding: 5px;
	border-radius: 5px;
	margin: 3px 0px;
	border: 0;
	/* box-sizing: border-box; */
}

.item p, .item textarea{
	width: 100%;
	margin: 5px 5px;
}

.item.selected{
	outline: 2px solid black;
	/* margin: 1px; */
}

ul.optioned .item{
	background-color: rgb(115, 137, 144);
}

.item button{
	width: 20px;
	margin: 0px;
}

.edit-box{
	resize: none;
	font: 1rem "Times-Roman", Times;
	margin: 0.5px !important;
	padding: 4px;
	box-sizing: border-box;
	overflow: hidden;
}

#prompt-selection{
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	padding: 10px;
}

#prompt-message{
	position: fixed;
	bottom: 0;
	
	width: 100%;
	display: flex;
	flex: 1;
  	flex-direction: row;
	/* padding: 10; */
}

#prompt-message .message{
	width: 100%;
	margin: 10px;
	/* margin: 10px; */
}